{% extends "registration/registration_base.html" %}

{% block title %}Reset password{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
      <div class="span6 offset3">
        <form action="" method="post" accept-charset="utf-8" class="form-horizontal well">
          {% csrf_token %}
          <legend>Forgot your password?  Enter your email in the form below and we'll send you instructions for creating a new one.</legend>
          {% include "_form.html" with submit_value="Reset password" %}
        </form>
        <p><a href="{% url auth_login %}">Back to Login?</a></p>
      </div>
    </div>
  </section>


{% endblock %}
